<% current_uri = request.env['PATH_INFO'] %>
<% current_uri = URI.decode(current_uri)%>
<% path_url = current_uri %>
<% count = 0 %>


<table style = "margin-top:5px" width="100%" border="0" cellspacing="0" cellpadding="0">

  <thead>
  <tr>
    <th>#</th>
    <th>Topics</th>
    <th>Date</th>
    <th>Availability</th>
    <th>Waitlist</th>
    <th>Status</th>
    <th>Action</th>
    <th>
  </tr>
</thead>

<% @class.each_with_index do |c,index| %>
<% if c.date_of >= Date.today %>
<tr>
        <td>
          <% if index+1 < 10 %>
            0<%= index+1 %>
          <% else %>
            <%= index+1 %>
          <% end %>
        </td>

<td style="color:#343434 !important" ><%= c.topic%></td>
<td><%= c.date_of.strftime("%B %d %Y %I:%M:%S") %> PM</td>
<td><%= (4-c.size)%></td>
<td><%= c.waitlist%></td>

<% if @reg.include? c.id %>

<% @st.each_with_index do |s,index| %>
<% if s.classroom_id.eql? c.id %>
<td><%= s.status.humanize %></td>
<% end %>
<% end %>

<% if c.date_of - 2.days >=  Date.today %>
<td><a href="#" id ="<%=c.id.to_s + '/' + c.subject%>" class="without retake-home Retake_3" title="Start"  >Withdraw</a></td>
<%else %>
<td>&nbsp;</td>
<%end%>

<%else%>
<%if @credit > 0 %>
<%if c.size < 5%>
<td>&nbsp;</td>
<td><a href="#" id ="<%=c.id.to_s + '/' + c.subject%>"  class="sign_up retake-home Retake_2" title="Start" >Sign Up</a></td>
<%else%>
<td>&nbsp;</td>
<td><a href="#" id ="<%=c.id.to_s + '/' + c.subject%>" class="sign_up retake-home Retake_2" title="Start" >Waitlist</a></td>
<%end%>
<%else %>
<td>&nbsp;</td>
<td><%= link_to image_tag("/assets/unlock.png", height: '40px', width: '40px;'), new_subscription_path %></td>
<%end%>
<%end%>
<tr>
<%end%>
<% end %>

</table>


<script>
  $( document ).ready(function() {
    $(".sign_up").click(function(){
      $(".loading").show();
      var id =this.id;
      x = '../attendees/' + id;
      $.get( x , function( data ) {
           $(".loading").hide();
        });
     window.location.href = "http://242chalkboard.com/classrooms/" + id.split("/")[1];
     });
   });   
</script>


<script>
  $( document ).ready(function() {
    $(".without").click(function(){
      $(".loading").show();
      var id =this.id;
      x = '../attendees/' + id;
      $.get( x , function( data ) {
           $(".loading").hide();
        });
     window.location.href = "http://242chalkboard.com/classrooms/" + id.split("/")[1];
     });
   });   
</script>

