<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
  body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }

p, h1{
  margin:0;
}

div,p,ul,h1{
  margin:0;
}

h1.bigger{
  font-size: 32px;
  font-weight: normal;
}

h1.big{
  font-size: 21px;
  font-weight: normal;
}

a.link1{
  color:#62A9D2;font-size:13px;font-weight:bold;text-decoration:none;
}

a.link2{
  padding:8px;background:#62A9D2;font-size:13px;color:#ffffff;text-decoration:none;font-weight:bold;
}

a.link3{
  background:#62A9D2; color:#ffffff; padding:8px 10px;text-decoration:none;font-size:13px;
}

</style>


</head>
<body paddingwidth="0" paddingheight="0" bgcolor="#d1d3d4"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent" align="center" bgcolor="#F6F6F6" style='font-family:helvetica, sans-serif;'>
    
    <!--  =========================== The header ===========================  -->      
    
    <tr>
      <td height='25' bgcolor='#43474A' colspan='3'></td>
    </tr>

    <tr>
      <td height='130' bgcolor='#43474A'>&nbsp;</td>
      <td rowspan='2' width='600' valign='top'>
        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" >
          <tr>
            <td bgcolor='#43474A' valign='top'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                <tr>
                  <td align='left' valign='middle' >
                    <div class="contentEditableContainer contentImageEditable">
                      <div class="contentEditable" >
                        <img src="http://242chalkboard.com/assets/logo.png" alt='Company logo' data-default="placeholder">
                      </div>
                    </div>
                  </td>

                  <td align='right' valign='top' >
                  </td>
                  <td width='18' align='right' valign='top'>
                    <div class="contentEditableContainer contentImageEditable" style='display:inline-block;'>
                      <div class="contentEditable" >
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr><td height='25' bgcolor='#43474A'></td></tr>

          <tr><td height='5' bgcolor='#62A9D2'></td></tr>

          <tr><td height='40' bgcolor='#ffffff'></td></tr>

          <tr>
            <td>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                <tr>
                  <td bgcolor='#ffffff' width='70'></td>
                  <td bgcolor='#ffffff' align='center' width='530'>
                    <div class='contentEditableContainer contentTextEditable'>
                      <div class="contentEditable" style='font-size:32px;color:#555555;font-weight:normal;'>
                        <h1 class='bigger'>Who we are</h1>
                      </div>
                    </div>
                  </td>
                  <td bgcolor='#ffffff' width='70'></td>
                </tr>

                <tr><td colspan='3' height='22' bgcolor='#ffffff'></td></tr>

                <tr>
                  <td bgcolor='#ffffff' width='70'></td>
                  <td bgcolor='#ffffff' align='center' width='530'>
                    <div class='contentEditableContainer contentTextEditable'>
                      <div class="contentEditable" style='font-size:13px;color:#99A1A6;line-height:19px;'>
                        <p >Maximizing the success of every Bahamian student by leveraging technology today to prepare them to be game changers of tomorrow!</p>
                      </div>
                    </div>
                  </td>
                  <td bgcolor='#ffffff' width='70'></td>
                </tr>

                <tr><td colspan='3' height='45' bgcolor='#ffffff'></td></tr>

              </table>
            </td>
          </tr>

          <tr><td height='10' bgcolor='#62A9D2'></td></tr>

          <tr>
            <td>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' bgcolor='62A9D2'>
                <tr>
                  <td width='25'></td>
                  <td width='475' valign='middle'>
                    <div class='contentEditableContainer contentTextEditable'>
                      <div class="contentEditable" style='font-family:Georgia;font-style:italic;color:#0F4666;font-size:15px;line-height:19px;'>
                        <p >Stay in Touch!</p>
                      </div>
                    </div>
                  </td>
                  <td width='45' valign='top'>
                    <div class='contentEditableContainer contentFacebookEditable'>
                      <div class="contentEditable">
                        <img src="http://242chalkboard.com/assets/facebook.png" alt='facebook' data-default="placeholder" data-max-width="300" width='45' height='45' >
                      </div>
                    </div>
                  </td>
                  <td width='10'></td>
                  <td width='45' valign='top'>
                    <div class='contentEditableContainer contentTwitterEditable'>
                      <div class="contentEditable">
                        <img src="http://242chalkboard.com/assets/twitter.png" alt='Twitter' data-default="placeholder" data-max-width="300" width='45' height='45' >
                      </div>
                    </div>  
                  </td>
                  <td width='10'></td>
                </tr>
              </table>
            </td>
          </tr>

          <!--  =========================== The body ===========================  -->   
          
          <tr>
            <td class='movableContentContainer'>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' bgcolor='69C374'>
                <tr>
                  <td bgcolor='#F6F6F6'>

                    <div class='movableContent'>
                      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr><td height='20' bgcolor='#F6F6F6'></td></tr>
                      </table>
                    </div>

                    <div class='movableContent'>
                      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' bgcolor='#ffffff' >
                        <tr><td colspan='3' height='16'>&nbsp;</td></tr>
                        <tr>
                          <td width='16'>&nbsp;</td>
                          <td width="568">
                            <table width="568" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' bgcolor='#ffffff'>
                              <tr>
                                <td align='left' valign='top'>
                                  <div class="contentEditableContainer contentTextEditable" >
                                   <div class="contentEditable" style='color:#555555;font-size:21px;font-weight:normal;'>
                                    <h1 class='big'>Registration</h1>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='16'>&nbsp;</td></tr>
                            <tr>
                              <td align='left' valign='top'>
                                <div class="contentEditableContainer contentTextEditable" >
                                 <div class="contentEditable" style='color:#999999;font-size:13px;line-height:19px;'>
                                  <p ><b style='font-family:Georgia;font-style:italic;color:#0F4666;font-size:15px;line-height:19px;'><%= @student.nickname %></b> you've been <b><%= @status %></b> for <b><%= @topic %></b> in <b><%=@subject%></b> on <b><%=@date%> PM </b>. Please be reminded you must withdraw 48 hours prior to the start of the class.
                                  </p>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr><td height='20'>&nbsp;</td></tr>
                          <tr>
                            <td align='right' valign='top' style='padding-bottom:8px;'>
                              <div class="contentEditableContainer contentTextEditable" >
                               <div class="contentEditable" >
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td width='16'>&nbsp;</td>
                  </tr>
                  <tr><td colspan='3' height='16'>&nbsp;</td></tr>
                </table>
              </div>

              <!--  =========================== The footer ===========================  -->

            </td>
          </tr>
        </table>
      </td>
    </tr>   

    <tr><td height='54' style='border-bottom:1px solid #DAE0E4'>&nbsp;</td></tr>

    <tr><td height='28'></td></tr>

    <tr>
      <td valign='top' align='center'>
        <div class="contentEditableContainer contentTextEditable">
          <div class="contentEditable" style='color:#A8B0B6; font-size:13px;line-height: 16px;'>
            <p >This email was sent to <%= @email %> when you signed up on 242chalkboard Please add us to your contacts to ensure the newsletters land in your inbox.
            </p>
          </div>
        </div>
        </td>
      </tr>

      <tr><td height='28'></td></tr>

      <tr>
        <td valign='top' align='center'>
          <div class="contentEditableContainer contentTextEditable">
            <div class="contentEditable" style='color:#A8B0B6; font-weight:bold;font-size:13px;line-height: 30px;'>
              <p >242Chalkboard</p>
            </div>
          </div>
          <div class="contentEditableContainer contentTextEditable">
            <div class="contentEditable" style='color:#A8B0B6; font-size:13px;line-height: 15px;'>
              <p >tutor@242chalkboard.com</p>
            </div>
          </div>
          <div class="contentEditableContainer contentTextEditable">
            <div class="contentEditable" >
            </div>
          </div>
        </td>
      </tr>

      <tr><td height='28'>&nbsp;</td></tr>

    </table>
  </td>
  <td height='130' bgcolor='#43474A'>&nbsp;</td>
</tr>

<tr>
  <td  bgcolor='#F6F6F6'>&nbsp;</td>
  <td  bgcolor='#F6F6F6'>&nbsp;</td>
</tr>
</table>

