<%#= @points %>

<section>
	   <div class="dTab"></div>
        <div class="quickReport">
          <div>
            <div class="colReport" style="margin-top: 20px;">
              <p class="title18 caps semiBold">Your Mode</p>
              <div class="mode"> 
                <span class="geek subRed">Geek</span> 
                <span class="genius white">Genius</span>
                <div class="cBoth"></div>
                <div class="progressBar"> 

                  <span class="subRed"><%=@total_correct_subscription%></span>
                  <div class="prograssBarCode">
                    <div class="subMarksP"></div>
                    <div class="MarksP red" style="width:<%=@total_correct_subscription_percent%>%"></div>
                    <img src="/assets/progress.png" /> 
                  </div>
                  <span class="white"><%=@total_subscription_subject%></span>
                </div>
                
                <p class="blockC size16 centerText upFrame">Another <span class="subRed"><%=Question.where(:module_test=>"module").count%></span> modules & <span class="subRed"><%=Question.where(:module_test=>"test").count%></span> tests to go before you become a Genius.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="noModulesReport">Overall Module Statistics</div>
          <div class="pieCharts">
            <% @module.each_with_index do |module_list, index| %>
              <div class="PieBlock">
                
                <p><span class="white"><%= pie_chart_round(module_list[1]["complete_wrong_percent"]) %>%</span><span class="yellow"><%= pie_chart_round(module_list[1]["complete_right_percent"]) %>%</span></p>
                <div class="cBoth"></div>
                <div class="pie EN <%= chart_180(pie_chart_degree(pie_chart_round(module_list[1]["complete_right_percent"]))) %>">
                  <div class="pieContainer">
                    <div class="pieBackground"></div>
                    <div id="pieSlice1" class="hold">
                      <% chart_draw = pie_chart_degree(pie_chart_round(module_list[1]["complete_right_percent"])).to_s+"deg" %>
                      <div class="pieCircle" style="-webkit-transform:rotate(<%=chart_draw%>);-moz-transform:rotate(<%=chart_draw%>);-o-transform:rotate(<%=chart_draw%>);transform:rotate(<%=chart_draw%>);"></div>
                    </div>
                  </div>
                </div>
                <img src="assets/circle.png" /> 
                <%if module_list.first=="mathematics"%>
                  <span class="qReportIcon icon3">
                <%elsif module_list.first=="chemistry"%>
                  <span class="qReportIcon icon3" style="background-position:-483px -181px">
                <%elsif module_list.first=="physics"%>
                    <span class="qReportIcon icon3" style="background-position:-594px -181px">
                <%elsif module_list.first=="biology"%>
                  <span class="qReportIcon icon3" style="background-position:-346px -181px">
                <%end%>
                </span>
                <p><span class="white"><%= module_list[1]["complete_wrong"] %></span><span class="yellow"><%= module_list[1]["complete_right"] %></span></p>
                <div class="cBoth"></div>
                <p class="title18Black black caps upFrame"><%= module_list[0] %></p>
              </div>
              <% if index+1 < @module.count %>
                <div class="divider"></div>
              <% end %>
            <% end %>
            <div class="cBoth"></div>
            <div class="markers">
              <label class="yellowB"></label>
              <span class="yellowLabel">Completed</span>
              <label class="whiteB"></label>
              <span class="whiteLabel">Incomplete</span>
            </div>
          </div>
          <div class="cBoth"></div>
          <div style="border-top: 1px solid rgb(255, 255, 255); margin: 38px auto 0px; width: 600px;"></div>
            <div class="colReport examDate" style="margin-top: 48px;">
              <p class="title18 caps semiBold">Exam Dates to Remember:</p>
              <% @dates.each do |day| %>
                <p><span class="yellow semiBold"><%= day[1] %> Days</span> to go for BGCSE - <%= day[0] %> Exam</p>
              <% end %>
            </div>
          </div>

           <div class="divider" style="margin: 133px 25px 0"></div>
          

        <div class="noModulesReport">Overall Test Statistics</div>
          <div class="pieCharts">
            <% @test.each_with_index do |test_list, index| %>
            <div class="PieBlock">
              <p><span class="white"><%= pie_chart_round(test_list[1]["complete_wrong_percent"]) %>%</span><span class="yellow"><%= pie_chart_round(test_list[1]["complete_right_percent"]) %>%</span></p>
              <div class="cBoth"></div>
              <div class="pie EN <%= chart_180(pie_chart_degree(pie_chart_round(test_list[1]["complete_right_percent"]))) %>">
                <div class="pieContainer">
                  <div class="pieBackground"></div>
                  <div id="pieSlice1" class="hold">
                  <% chart_draw = pie_chart_degree(pie_chart_round(test_list[1]["complete_right_percent"])).to_s+"deg" %>
                  <div class="pieCircle" style="-webkit-transform:rotate(<%=chart_draw%>);-moz-transform:rotate(<%=chart_draw%>);-o-transform:rotate(<%=chart_draw%>);transform:rotate(<%=chart_draw%>);"></div>
                  </div>
                </div>
              </div>
                <img src="assets/circle.png" />
                <%if test_list.first=="mathematics"%>
                  <span class="qReportIcon icon3"></span>
                <%elsif test_list.first=="chemistry"%>
                   <span class="qReportIcon icon3" style="background-position: -482px -181px;"></span>
                <%elsif test_list.first=="physics"%>  
                   <span class="qReportIcon icon3" style="background-position: -594px -181px;"></span>
                <%elsif test_list.first=="biology"%>  
                   <span class="qReportIcon icon3" style="background-position: -345px -181px;"></span>
                <%end%>  
              
              <p><span class="white"><%= test_list[1]["complete_wrong"] %></span><span class="yellow"><%= test_list[1]["complete_right"] %></span></p>
              <div class="cBoth"></div>
              <p class="title18Black black caps upFrame"><%= test_list[0] %></p>
            </div>
            <% if index+1 < @test.count %>
                <div class="divider"></div>
              <% end %>
            <% end %>
                    <div class="cBoth"></div>
            <div class="markers">
              <label class="yellowB"></label>
              <span class="yellowLabel">Completed</span>
              <label class="whiteB"></label>
              <span class="whiteLabel">Incomplete</span></div>
              </div>

        </div>
      </section>
<style>
.noModulesReport { 
  font-size: 22px!important;
  margin: 40px auto 0!important;
  padding-top: 15px!important;
  text-align: center!important;
  width: 600px!important;
}
</style>
